@charset "UTF-8";

:root {
    --price-font-size: clamp(1.8rem, 4vw + 1.2rem, 2rem);
    --text-font-size: clamp(2rem, 4vw + 1.4rem, 2.2rem);
    --h1-font-size: clamp(2.4rem, 4vw + 1.8rem, 2.6rem);

    --main-color: rgb(16, 17, 19);
    --contrast-color: rgb(188, 79, 251);
    --hover-color: rgb(198, 89, 261);
    --active-color: rgb(208, 99, 271);
    --text-color: rgb(214, 214, 214);

    --shadows: 0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.335);
    --focus-shadows: 0 0 0 0.3rem rgba(188, 79, 251, 0.5);

    --transitions: background-color 0.3s ease, transform 0.2s ease;
    
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100%;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin-bottom: 2rem;
    background-color: var(--main-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: 900;
    margin-top: 2rem;
    color: var(--contrast-color);
    cursor: default;
}

.change-due {
    font-size: var(--text-font-size);
    font-weight: 500;
    text-align: center;
    color: #EBEBEB;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

label {
    font-size: var(--text-font-size);
    font-weight: 500;
    text-align: center;
}

.client-cash {
    font-size: var(--text-font-size);
    font-weight: 500;
    padding: 1rem;
    margin-top: 2rem;
    border: 0.3rem solid var(--contrast-color);
    color: #131415;
    border-radius: 1rem;
    box-shadow: var(--shadows);
}

.client-cash:focus, .purchase-btn:focus {
    outline: none;
    box-shadow: var(--focus-shadows);
}

.purchase-btn {
    margin-top: 2.5rem;
    font-size: var(--text-font-size);
    font-weight: 600;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: var(--shadows);
    background-color: var(--contrast-color);
    color:  black;
    transition: var(--transitions);
}

.purchase-btn:hover {
    background-color: var(--hover-color);
    transform: translateY(0.2rem);
}

.purchase-btn:active {
    background-color: var(--active-color);
    transform: translateY(0.4rem);
}

.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
    max-width: 90vw;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    font-size: var(--price-font-size);
    font-weight: 600;
    border: 0.1rem solid var(--contrast-color);
    border-radius: 1rem;
    box-shadow: var(--shadows);
    cursor: default;
}

.price-display {
    font-size: var(--price-font-size);
    font-weight: 600;
    margin: 1rem auto;
    border: 0.1rem solid var(--contrast-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadows);
}

@media screen and (min-width: 600px) {
    body {
        margin: 5% auto;
    }

    .drawer {
        max-width: 50rem;
    }
}